
<div class='main-header'>
    <div class='main-menu'>
        <ul class="menu-list">
            <li><a href="#TOP">TOP</a></li>
            <li><a href="#ABOUT">ABOUT</a></li>
            <li><a href="#PORTFOLIO">PORTFOLIO</a></li>
            <li><a href="#CONTACT">CONTACT</a></li>
        </ul>
    </div>
</div> 
<main>
    <div class="cd-fixed-bg cd-bg-1"  id="TOP">
        <h1></h1>
    </div> 


    <div class="cd-scrolling-bg cd-color-1" id="ABOUT">
        <div class="cd-container">
            <h1 class="about" >
                ABOUT
            </h1>
        </div>
        <div class="comment cd-container">
            <div>
                <p class="english-name">Profile</p>
                <p class="name">プロフィール</p>
            </div>
            <div>
                <p class="name">
                    1996年生まれ。2018年に臨床検査技師学科を卒業。<br>
                </p>
            </div>
        </div>
    </div>
 
    <div class="cd-fixed-bg cd-bg-2" id="PORTFOLIO">
        <h1>見出し</h1>
    </div> 
  
    <div class="cd-scrolling-bg cd-color-2" id="CONTACT">
        <div class="cd-container">
            <p>
                コンテンツ
            </p>
        </div> 
    </div> 
</main>